.form__container {
    padding: 5rem 1.5rem;
}
.form__wraper{
    padding: 1rem;
    background-image: url('../../assets/Shapes (1).png');
    background-position-y: 5rem;
    background-repeat: no-repeat;
}
.form__heading>h1 {
    max-width: 90%;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 36px;
    margin-bottom: 1.5rem;
}


.form__heading>p {
    max-width: 90%;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: #584F49;
    margin-bottom: 1.8rem;
}

.form__form-wraper {
    max-width: 32.5rem;
    padding: 1.5rem 1rem;
    display: grid;
    gap: 0.5rem;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
    border-radius: 12.0645px;
}

.form__form-wraper>textarea {
    font-family: 'Inter';
    padding: 0.5rem;
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    background-color: transparent;
    border: 1px solid #CFCFCF;
    border-radius: 3.01613px;
    color: #584F49;
    outline: none;
}

.form__form-wraper>textarea::placeholder {
    font-family: 'Inter';
    color: #584F49;
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
}


.checked-box {
    display: flex;
    align-items: center;
}

.checked-box>p {
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    color: #584F49;
}

.checked-box a {
    color: #FF9F66;
    cursor: pointer;
}

.form__form-wraper>button {
    width: 30%;
    padding: 0.4rem;
    border: none;
    box-shadow: 0px 14.4774px 20.5097px rgba(32, 70, 100, 0.1);
    border-radius: 2.4129px;
    background-color: #FF9F66;
    color: white;
    font-weight: 600;
    font-size: 10px;
    line-height: 20px;
}

.form__form-wraper>button:hover {
    background-color: white;
    color: #FF9F66;
    outline: 1px solid #FF9F66;
}

@media screen and (min-width: 800px) {
    .form__wraper{
        display: flex;
        align-items: center;
        background-image: url('../../assets/Shapes (1).png');
        background-position-y: 0;
        background-position-x: right 5rem;
        background-repeat: no-repeat;
    }

    .form__heading{
        width: 55%;
    }

    .form__form-wraper{
        transform: translateY(-3rem);
        width: 45%;
    }
}