.card__container {
    width: 17.3rem;
    height: 17.3rem;
    padding: 0.7rem;
    display: grid;
    gap: 1rem;
    background-color: white;
    box-shadow: 0px -5.74468px 11.4894px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    overflow: hidden;
}

.card__text-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__text-container>h1 {
    color: #CFCFCF;
    font-weight: 700;
    font-size: 26px;
    line-height: 36px;
}

h3 {
    font-weight: 700;
    font-size: 0.9rem;
    line-height: 16px;
}

.card__container>img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.cardFull__container {
    max-width: 34rem;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    background-color: #FEAEA3;
    border-radius: 4px;
}

.cardFull__text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cardFull__text-container>p {
    font-size: 10px;
    line-height: 20px;
    color: #584F49;
}

.cardFull__text-container>a {
    font-weight: 600;
    font-size: 1rem;
    line-height: 20px;
    color: #1C0A0A;
}

.text__title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.text__title-container>h1 {
    color: #FF7D6B;
    font-weight: 700;
    font-size: 26px;
    line-height: 36px;
}

.cadFull__img-container {
    padding-left: 2rem;
}

@media screen and (min-width: 600px) {
    .cardFull__container {
        padding: 1rem;
        width: 100%;
    }
}