.card__container {
    padding: 0.7rem;
    background-color: white;
    box-shadow: 0px -5.74468px 11.4894px rgba(0, 0, 0, 0.05);
    border-radius: 4px
}

.card__text-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.card__text-container>h1 {
    color: #CFCFCF;
    font-weight: 700;
    font-size: 26px;
    line-height: 36px;
}

h3{
    font-weight: 700;
    font-size: 0.9rem;
    line-height: 16px;
}

.card__container > img{
    margin-top: 0.5rem;
    width: 100%;
}