.card__container {
    max-width: 17.3rem;
    padding: 1rem;
    display: grid;
    gap: 1rem;
    background-color: white;
    box-shadow: 0px -5.74468px 11.4894px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    overflow: hidden;
    flex-grow: 1;
}

.card__text-container {
    display: flex;
    align-items: center;
    gap: 1rem;
 
}

.card__text-container>h1 {
    color: #CFCFCF;
    font-weight: 700;
    font-size: clamp(1rem, 2.5vw, 3rem);
    line-height: 36px;
}

h3 {
    font-weight: 700;
    font-size: clamp(0.9rem, 2vw, 1.2rem);
    line-height: 1rem;
}

.card__container>img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.cardFull__container {
    max-width: 35.1rem;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    background-color: #FEAEA3;
    border-radius: 4px;
    margin: 0 auto;
}

.cardFull__text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cardFull__text-container>p {
    font-size: clamp(0.8rem, 1vw, 1rem);
    line-height: 20px;
    color: #584F49;
}

.cardFull__text-container>a {
    font-weight: 600;
    font-size: 1rem;
    line-height: 20px;
    color: #1C0A0A;
}

.text__title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.text__title-container>h1 {
    color: #FF7D6B;
    font-weight: 700;
    font-size: clamp(1rem, 2.5vw, 3rem);
    line-height: 36px;
}

