.hero__text-container {
    margin: 1rem;
    display: flex;
    flex-direction: column;

}

.text-flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.text-flex-column>h1 {
    margin-right: 2rem;
    margin-bottom: 1.5rem;
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    font-weight: 800;
    line-height: 46px;
}

.text-flex-column>p {
    color: #584F49;
    font-size: clamp(0.9rem, 1.2vw, 1rem);
    line-height: 22px;
    margin-bottom: 1.5rem;
}



.hero__brtn-container>button {
    display: inline-block;
    width: fit-content;
    padding: 0.4rem 1.5rem;
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 20px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
}

.learn-more {
    color: black;
    background-color: transparent;
    border-radius: 3px;
    outline: 0.5px solid black;
    transition: all 0.5s ease-in-out;
}

.learn-more:hover {
    background-color: black;
    color: white;
}

.get-started {
    background-color: #FF9F66;
    color: white;
    transition: all 0.5s ease-in-out;
}

.get-started:hover {
    color: #FF9F66;
    background-color: white;
    outline: 0.5px solid #FF9F66;
}

.hero__img-container {
    width: 100%;
}

.shape {
    position: relative;
    margin-top: 2rem;
    width: 100%;
    height: 255px;
    border-bottom-left-radius: 25rem;
    border-bottom-right-radius: 12rem;
    background-color: #EDC988;
    z-index: -10;

}

.shape>img {
    position: absolute;
    width: 80%;
    height: 190%;
    top: 1rem;
    left: 3rem;
}

.hero__card-container {
    margin-top: 13vh;
    background-color: #258675;
    z-index: 10;
    padding: 0 1rem;
}

.hero__card-wrapper {
    max-width: calc(896px - 2rem);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.7rem;
    transform: translateY(-2rem);
}

.card-flex {
    display: flex;
    gap: 0.7rem;
    justify-content: center;
}




@media screen and (min-width: 600px) {
    .hero__text-container {
        display: flex;
        flex-direction: row;
    }

    .text-flex-column {
        width: 80%;
    }


    .shape>img {
        transform: translateY(0.5rem);
    }
}

@media screen and (min-width: 800px) {
    .hero__img-container {
        width: 50%;
        margin-top: -7rem;
    }

    .shape img{
        transform: translateY(3rem)
    }

    .text-flex-column {
        flex-grow: 1;
    }
    .hero__card-wrapper {
        flex-direction: row;
        align-items: flex-end;
        gap: 0.7rem;
    }
    .text-flex-column {
        margin-top: 3rem;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    @media screen and (min-width: 900px) {
        .hero__container{
            margin: 0 auto;
        }
        .shape img {
            transform: translateY(10rem);
        }

        .text-flex-column {
            transform: translateY(5.5rem);
        }

        .hero__card-container {
            margin-top: 30vh;
        }

    }

}